__pycache__

data/letter/letter-recognition.data
data/letter/test.csv
data/letter/text/
data/letter/cpp/

data/magic/magic04.data
data/magic/test.csv
data/magic/text/
data/magic/cpp

data/adult/adult.data
data/adult/test.csv
data/adult/text/
data/adult/cpp

data/bank/bank-additional/
data/bank/bank-additional.zip
data/bank/test.csv
data/bank/text/
data/bank/cpp

data/satlog/sat.trn
data/satlog/sat.tst
data/satlog/test.csv
data/satlog/text/
data/satlog/cpp

data/sensorless-drive/Sensorless_drive_diagnosis.txt
data/sensorless-drive/test.csv
data/sensorless-drive/text/
data/sensorless-drive/cpp

data/spambase/spambase.data
data/spambase/test.csv
data/spambase/text/
data/spambase/cpp

data/mnist/*ubyte
data/mnist/*gz
data/mnist/test.csv
data/mnist/train.csv
data/mnist/text/
data/mnist/cpp
data/mnist/mnist_train.csv
data/mnist/mnist_test.csv

data/wine-quality/test.csv
data/wine-quality/text/
data/wine-quality/cpp
data/wine-quality/winequality-red.csv
data/wine-quality/winequality-white.csv

data/trec/text
data/trec/cpp
data/trec/test.csv
data/trec/trec07p/
data/trec/trec07p.tgz

data/covertype/covtype.data
data/covertype/text
data/covertype/cpp
data/covertype/test.csv

data/fact/gamma_simulations_facttools_dl2.csv
data/fact/proton_simulations_facttools_dl2.csv
data/fact/results.csv
data/fact/fact_data.tar.gz
data/fact/text
data/fact/cpp
data/fact/test.csv

data/imdb/train.csv
data/imdb/results.csv
data/imdb/text/
data/imdb/cpp
data/imdb/test.csv
data/imdb/results.csv
data/imdb/imdb.tar.gz

data/PAMAP2/PAMAP2_Dataset
data/PAMAP2/results.csv
data/PAMAP2/PAMAP2_Dataset.zip
data/PAMAP2/cpp
data/PAMAP2/text
data/PAMAP2/test.csv

data/susy/SUSY.csv
data/susy/results.csv
data/susy/susy.tar.gz
data/susy/text
data/susy/cpp
data/susy/test.csv

data/wearable-body-postures/dataset-har-PUC-Rio-ugulino.csv
data/wearable-body-postures/results.csv
data/wearable-body-postures/text
data/wearable-body-postures/cpp
data/wearable-body-postures/test.csv

data/yelp/dataset
data/yelp/yelp_dataset.tar
data/yelp/results.csv
data/yelp/test.csv

data/synthetic-chain/text
data/synthetic-chain/cpp
data/synthetic-chain/*.csv

data/**/*.txt
