__pycache__

data/trec/text
data/trec/cpp
data/trec/trec07p/
data/trec/trec07p.tgz

data/covertype/covtype.data
data/covertype/text
data/covertype/cpp

data/fact/gamma_simulations_facttools_dl2.csv
data/fact/proton_simulations_facttools_dl2.csv
data/fact/results.csv
data/fact/fact_data.tar.gz
data/fact/text
data/fact/cpp

data/imdb/train.csv
data/imdb/results.csv
data/imdb/text/
data/imdb/cpp
data/imdb/test.csv
data/imdb/results.csv
data/imdb/imdb.tar.gz

data/PAMAP2/PAMAP2_Dataset
data/PAMAP2/results.csv
data/PAMAP2/PAMAP2_Dataset.zip
data/PAMAP2/cpp
data/PAMAP2/text

data/susy/SUSY.csv
data/susy/results.csv
data/susy/susy.tar.gz
data/susy/text
data/susy/cpp

data/wearable-body-postures/dataset-har-PUC-Rio-ugulino.csv
data/wearable-body-postures/results.csv
data/wearable-body-postures/text
data/wearable-body-postures/cpp

data/yelp/dataset
data/yelp/yelp_dataset.tar
data/yelp/results.csv

data/synthetic-chain/text
data/synthetic-chain/cpp

data/**/*.txt
